.parent{
    background-color: blanchedalmond; 
     position: fixed; /* at this stage parent fix on screen  */
     /* position: relative;*/ /* at this stage parent relative to parent */
     width: 300px;
    height: 500px; 
    margin-top: 200px;
    margin-left: 200px;
    
   
}
.sticky{
   
        /* position: -webkit-sticky; */
        position: sticky;
        top: 0;
        background-color: yellow;
        padding: 50px;
        font-size: 20px;

}


 .child2{
    position: absolute; 
     height: 60px;
    background-color: green;
    color: white;
     right:20px;
     position: absolute;
    
} 