div.parent{
    background-color: aqua;
    height: 350px;
    width: 350px;
}
div.child{
    background-color: brown;
    height: 30px;
    width: 25px;
    transition: width ,height , background-color ;
    transition-duration: 4s;
    /* transition-timing-function: ease-in-out;  its proceed in fast then slow then again fast */
    /* transition: cubic-bezier(11.23, 4, 11.320, 1000);   were you can control animatio behavior */
   
}
 
@keyframes animation_1 {
    0%{
        background-color: aqua;
        transform: translateY(400%);
        border-radius: 0%;
    }
    20%{
        background-color: royalblue;
        transform: translateY(400%) translateX(400%);
        border-radius: 5%;
    }
    60%{
        background-color: green;
        transform: translateX(400%)  translateY(0%);
        border-radius: 10%;
    }
    80%{
        background-color: blueviolet;
        transform: translateX(400%);
        border-radius: 25%;
    }
    100%{
        background-color: black;
        transform: translateY(0%) translateX(0%);
        border-radius: 50%;
    }

     
}






 div.parent:hover div.child{
      width: 120px;
     height: 125px; 
     background-color: blueviolet;
     /* when i hover on parents this css property on child */
     /* transform: translateX(200%); */
     /* transform: skewX(40deg); */
     /* transform: skew(40deg, 40deg); */
      /* transform: rotate(90deg); */
      /* transform: scaleX(7.9); */
      /* transform: scale(.9); */
      animation-name: animation_1;
      animation-duration: 2s;
      /* animation-iteration-count: infinite; */

      /* paused for 1sec */
      animation-delay: 1s; 

      /* last animanation reamain in forward vuce versa in backward */
      animation-fill-mode: forwards;
      animation-fill-mode: backwards;

      /* when u toch it paused */
      animation-play-state: paused;
      
      /* the difference between alternate and reverse is i alternate first time it clockwise then next time it is in anticlockwise
      but in reverse it just reverse the direction play this on infinte loop to understand*/
      animation-direction: alternate;
      animation-direction: reverse;

}
      
 