@import url('https://fonts.googleapis.com/css2?family=Tiro+Gurmukhi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
}

.sidebar{
    background-color: rgb(105, 95, 95);
    width: 42vw;
    font-family: 'Tiro Gurmukhi', serif; 
    color: white;
    margin-right: 93px;
}
.sidebar nav{
    padding: 45px;
    height: 100vh;

}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding-top: 33px;
    

}
.sidebar nav li a{
    text-decoration: none;
    color: white;
    

}

.main{
    /* background: yellow; */
    width: 90vw;
}
.container{
    display: flex;
    
}
.infocontainer{
    background-color: rgb(157 24 117 / 15%);
    height: 65vh;
    width: 80vw;
    margin:144px auto;
    display: flex;
    justify-content: space-around;
   

}
.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    
}
.devpic img{
         height: 65vh;
 
}
.hello{
 font-size: 55px;
 
}
.name{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Tiro Gurmukhi', serif; 
}
.about{
    font-size: 45px;
        padding: 14px;
    border-radius: 65px;
    
}
.aboutmore{
    margin-top: 20px;
    font-size: 15px;
    font-family: 'Tiro Gurmukhi', serif; 
}
.button button{
   
    padding: 7px;
    border-radius: 25px;
    color: white;
    background-color: blue;
    margin:30px 10px;
    cursor: pointer;
    
}
.button button:hover{
    background-color: white;
     color: blue;

}
.contactform{
    text-align: center;
}

